db.testing.database=sql_eventstore
db.testing.driver=com.mysql.jdbc.Driver
db.testing.hostname=localhost
db.testing.port=3306
db.testing.username=<USERNAME>
db.testing.password=<PASSWORD>

db.tunnel.database=marketdata
db.tunnel.driver=com.mysql.jdbc.Driver
db.tunnel.hostname=localhost
db.tunnel.port=13306
db.tunnel.username=<USERNAME>
db.tunnel.password=<PASSWORD>
